body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 90%;
    font-family: 'San Francisco', 'Helvetica Neue', Arial, sans-serif;
    background-image: url('/Weather-App/src/Background.jpg');
        /* Adicione sua imagem de fundo aqui */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}

.card {
    background-color: rgba(0, 0, 0, 0.767);
    padding: 1em;
    color: white;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 15px;
    background-color: #3146659b;
    color: white;
    font-size: 130%;
    width: calc(100% - 100px);
    font-family: 'Roboto';
    letter-spacing: 2px;
}

button {
    margin: 1em;
    border-radius: 30%;
    border: none;
    height: 3em;
    width: 3em;
    outline: none;
    background-color: #3146659b;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: #798d9b;
}

.weather {
    font-weight: bold;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after {
    position: absolute;
    top: 0;
    color: white;
    visibility: visible;
    content: "Carregando...";
    font-weight: bold;
    left: 30px;
}


h1.city {
    padding-left: 25%;
    font-size: 2em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1em;
}

h1.temp {
    padding: 32px 10px 0px;
    margin: 0;
    margin-bottom: 2em;
    font-size: 1.3em;
}

.flex {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    margin-top: 20px;
}

.flex .description {
    text-transform: capitalize;
    margin-left: 8px;
}

.icon{
    width: 20%;
    height: 20%;
    padding-right: 0px;
}

.humidity {
    padding: 20px 20px 0px;
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.wind {
    padding: 0px 20px 0px;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 420px) {
    .card {
        border-radius: 35px;
        max-width: 320px;
    }

    input.search-bar {
        padding: 0.3em 0.8em;
        border-radius: 30px;
        background-color: #534b4b;
        color: white;
        width: calc(100% - 100px);
        letter-spacing: 1px;
    }
}